.input, .textarea {
    border: 1px solid var(--color-grey);
    border-radius: 3px;
    font-size: var(--text-size-regular);
    color: var(--color-text);
    padding-right: 10px;
    padding-left: 10px;
}

.input {
    height: 40px;
}

.textarea {
    resize: none;
    padding: 10px;
}

.input:focus, .textarea:focus {
    outline: none;
    border: 3px solid var(--color-custom);;
}

.input_label {
    font-size: var(--text-size-small);
    margin-right: 20px;
}

.submit {
    border-radius: 50px;
    border: none;
    background-color: var(--color-custom);
    padding: 10px 20px;
    font-size: var(--text-size-regular);
    cursor: pointer;
    color: #fff;
}

.submit:hover {
    opacity: 0.8;
}

.tip {
    position: absolute;
    width: 200px;
    background-color: var(--color-light-blue);
    box-shadow: -5px 0px 20px 0 var(--color-shadow);
    border-radius: 24px;
    border-top-left-radius: 0px;
    z-index: 2;
    top: 50px;
    left: 10px;
    cursor: default;
    padding: 10px;
    font-size: var(--text-size-small);
    transition: opacity 700ms ease-in-out;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.input_color__wrapper {
    display: flex;
    align-items: center;
}

.input_color {
    height: 40px;
    width: 70px;
    border: none;
}

.input_color:hover {
    cursor: pointer;
}