
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.nav__left {
    cursor: pointer;
}

.nav__right {
    display: flex;
}

.nav__right li {
    list-style: none;
    margin-right: 40px;
    cursor: pointer;
}

.nav__right li:hover {
    border-bottom: 2px solid rgb(var(--color-custom));
    color: rgb(var(--color-custom));
}

.nav__right li:last-of-type {
    margin-right: 0;
}
