:root {
  --color-custom: 32, 176, 118;
  --color-text: 56, 55, 59; /*#38373B*/
  --color-light-blue: 245, 249, 252;
  --color-grey: 235, 230, 230 /*#ebe6e6*/;
  --text-size-regular: 1rem;
  --text-size-small: 0.8rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--color-text));
  font-size: var(--text-size-regular);
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 2px;
}

.row {
  margin-bottom: 20px;
}


