:root {
  --color-custom: 32, 176, 118;
  --color-text: 56, 55, 59; /*#38373B*/
  --color-light-blue: 245, 249, 252;
  --text-size-regular: 16px;
  --text-size-small: 13px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--color-text));
  font-size: var(--text-size-regular);
}


